<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Espacio - Edit parking</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/parking.js}" defer></script>
    <link th:href="@{/main.css}" rel="stylesheet" >

</head>
<body class="container">
    <h2>Espacio app</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Parkings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Parking</li>
        </ol>
    </nav>

    <form class="form-group" th:action="@{/parking/{id}(id=${parking.id})}" method="post" th:object="${parking}">
        <div class="form-group row">
            <div class="col-md-6">
                <fieldset>
                    <legend>Details</legend>
                    <label>Id:   </label>
                    <input th:field="*{id}" readonly disabled/><br/>
                    <label>Name: </label>
                    <input th:field="*{name}" /><br/>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>Capacity</legend>
                    <label>Motors: </label>
                    <input th:field="*{motosCapacity}" /><br/>
                    <label>Cars:   </label>
                    <input th:field="*{carsCapacity}" /><br/>
                </fieldset>
            </div>
        </div>

        <br/>
        <h4>Spots</h4>
        <hr/>
        <table th:field="*{spots}" id="tblSpots" class="table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th colspan="2">Dimensions (width, height)</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr th:each="spot, itemStat : ${parking.spots}" th:id="${itemStat.index}" >
                <td>
                    <input th:field="${parking.spots[__${itemStat.index}__].id}" class="form-control" readonly disabled />
                </td>
                <td>
                    <select class="form-control" th:field="${parking.spots[__${itemStat.index}__].type}" disabled>
                        <option th:value="MOTO" th:text="MOTO"></option>
                        <option th:value="CAR" th:text="CAR"></option>
                    </select>
                </td>
                <td>
                   <select class="form-control" th:field="${parking.spots[__${itemStat.index}__].location}" disabled>
                        <option th:value="NORTH" th:text="NORTH"></option>
                        <option th:value="EAST" th:text="EAST"></option>
                        <option th:value="SOUTH" th:text="SOUTH"></option>
                        <option th:value="WEST" th:text="WEST"></option>
                    <option th:value="NORTH_EAST" th:text="NORTH_EAST"></option>
                    <option th:value="NORTH_WEST" th:text="NORTH_WEST"></option>
                    <option th:value="SOUTH_EAST" th:text="SOUTH_EAST"></option>
                    <option th:value="SOUTH_WEST" th:text="SOUTH_WEST"></option>
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control"
                           th:field="${parking.spots[__${itemStat.index}__].dimension.width}" disabled />
                </td>
                <td>
                    <input type="number" class="form-control"
                           th:field="${parking.spots[__${itemStat.index}__].dimension.height}" disabled />
                </td>
                <td>
                    <input type="number" class="form-control"
                           th:field="${parking.spots[__${itemStat.index}__].pricePerHour}" disabled />
                </td>
                <td class="col-md-2">
                    <button type="button" class="btn btn-secondary"
                            th:onclick="'editSpot(' + ${itemStat.index} + ', this)'">Edit</button>
                    <button type="button" class="btn btn-danger"
                            th:onclick="'removeSpot(' + ${itemStat.index} + ',this.form)'">Remove</button>
                    <div class="spinner spinner-grow spinner-grow-sm d-none" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
        </table>
        <span id="actions">
            <button type="button" class="btn btn-primary" onclick="enableTextBoxesAndUpdate(this.form)">Update</button>&nbsp;
            <button type="button" class="btn btn-primary" onclick="cancel()">Cancel</button>
        </span>
    </form>
</body>
</html>
